.bg-game {
  color: #6f6f6f;
  background-color: #0f2a38;
}

.box {
  text-align: center;
}

.title-game {
  margin-bottom: 25px;
  margin-top: 25px;
  text-transform: uppercase;
  color: #1f242d;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2894ff;
  letter-spacing: 2px;
  font-weight: bolder;
  text-shadow: 0px 0px 5px #2894ff;
}

.game {
  margin: 0 auto;
}

.squad {
  text-align: center;
  width: 150px;
  height: 150px;
  background-color: #091921 !important;
  display: inline-block;
  padding-top: 5%;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.2),
	    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.squad:hover{
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
	            2px 2px 6px rgba(0, 0, 0, 0.8),
	            inset -2px -2px 10px rgba(255, 255, 255, 0.07),
	            inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.btn-reboot {
  text-transform: uppercase;
  color: #2894ff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  background-color: #263940;
  padding: 10px 30px;
  letter-spacing: 2px;
  font-size: 16px;
  margin: 10px;
}

.btn-reboot:hover {
  background-color: #2894ff;
  color: #1f242d;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.btn-modal {
  text-align: end;
  font-size: 20px;
}

.st0{fill:none}
.svg-white{fill:#fff}

.modal-winner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: black;
  color: #fff;
  background-clip: padding-box;
  font-size: 75px;
  text-align: center;
  box-shadow: 0px 0px 1px 3px #2894ff;
  border: 1px solid rgba(0,0,0,.2);
  border-color: #2894ff;
}

.nameplayer {
  margin-top: 15px;
  margin-bottom: 25px;
}

.nameplayer label {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 1px 1px #2894ff;
}

.winner {
  font-size: 40px;
  margin-bottom: 35px;
}